@import "mocha.css";

* {
  font-family: "Jost *";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: @mantle;
  margin-bottom: 40px;
  /* border-bottom: 3px solid @crust; */
  /* border-right: 3px solid @crust; */
}

#tray menu {
  background: @base;
  color: @fg;
}

tooltip {
  background: @bg;
  border: 1px solid @pink;
}

button {
  border: none;
  /* border-radius: 0; */
}
#workspaces button label {
  color: @text;
}

#workspaces button.active label {
  color: @bg;
  border-radius: 15px;
  font-weight: bolder;
}

#workspaces button:hover {
  box-shadow: rgb(180, 190, 254) 0 0 0 1.5px;
  min-width: 50px;
}

#workspaces {
  background-color: transparent;
  border-radius: 17px;
  padding: 5 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#workspaces button {
  box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px;
  background-color: rgba(30, 30, 46, 0.6);
  margin-left: 10px;

  transition: all 0.3s ease;
}

#workspaces button.active {
  min-width: 40px;
  box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
  background-color: rgb(245, 194, 231);
  background-size: 400% 400%;
  transition: all 0.3s ease;
  background: linear-gradient(
    58deg,
    @mauve,
    @mauve,
    @mauve,
    @blue,
    @blue,
    @mauve,
    @red
  );
  background-size: 300% 300%;
  animation: colored-gradient 20s ease infinite;
}


/* #workspaces { */
/*   padding-right: 10px; */
/*   border-right: 2px @crust; */
/*   padding: 0px 15px 0px 15px; */
/* } */
/**/
/* #workspaces button { */
/*   padding: 0 10px; */
/*   color: @fg; */
/*   border-radius: 12px 12px 12px 12px; */
/*   border-radius: 0px; */
/*   margin-bottom: 4px; */
/*   margin-top: 4px; */
/* } */
/**/
/* #workspaces button:hover { */
/*   background: @bg; */
/*   color: @pink; */
/*   border-radius: 12px 12px 12px 12px; */
/* } */
/* #workspaces button.active { */
/*   color: @mantle; */
/*   background-color: @pink; */
/*   border-radius: 0px; */
/*   border-radius: 12px 12px 12px 12px; */
/*   padding: 0px 15px 0px 15px; */
/* } */
/**/
/* #workspaces button.focused { */
/*   background-color: @bg; */
/*   color: @pink; */
/*   border-radius: 0px; */
/*   border-radius: 12px 12px 12px 12px; */
/* } */
/**/
/* #workspaces button.urgent { */
/*   background-color: #eb4d4b; */
/*   border-radius: 12px 12px 12px 12px; */
/* } */

#window {
  padding-left: 30px;
}

#clock {
  color: @base;
  background-color: @pink;
  font-style: initial;
  border-right: 5px;
  border-left: 5px;
  border-radius: 12px 12px 12px 12px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 4px;
  margin-top: 4px;
}
/* #cpu, */
#memory {
  background-color: @pink;
  color: @base;
  margin-bottom: 4px;
  margin-top: 4px;
}
#language {
  background-color: @pink;
  color: @base;
  padding: 0px 15px 0px 15px;
  border-radius: 0px 12px 12px 0px;
  margin-bottom: 4px;
  margin-top: 4px;
}
/* #pulseaudio, */
#wireplumber {
  padding: 0px 15px 0px 15px;
  background-color: @pink;
  color: @base;
  border-radius: 12px 0px 0px 12px;
  margin-bottom: 4px;
  margin-top: 4px;
}

#custom-separator {
  color: @base;
  background-color: @base;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  padding: 0px 10px;
  /* border-left: 2px solid #32393f; */
}
